.new-post {
    padding:16px 0;
    border-bottom: 1px solid #2b542c;
}
.new-post header,
.posts header {
    margin-bottom: 20px;
}
.posts .post{
    padding-left: 10px;
    border-left: 6px solid midnightblue;
    margin-bottom: 30px;
}
.posts .post .info{
    color: #8c8c8c;
    font-style: italic;
}
.error {
    border: 1px solid red;
    margin-top: 15px;
    color: red;
}
.error ul,
.success ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.success {
    border: 1px solid green;
    margin-top: 15px;
    color: green;
}
.error,
.success{
    text-align: center;
}
.container-fluid {
    margin-top: 50px;
}